.navbar-default {
  background-color: #311006;
}
.navbar-brand .navbar-brand-subtitle {
  font-size: 0.6em;
}
@media (max-width: 1000px) {
  .navbar-brand .navbar-brand-subtitle {
    font-size: 0.5em;
  }
}
@media (max-width: 410px) {
  section h2 {
    font-size: 2.6em;
  }
}
@media (max-width: 360px) {
  section h2 {
    font-size: 2em;
  }
}
@media (max-width: 310px) {
  .navbar-brand {
    font-size: 15px;
  }
  section h2 {
    font-size: 1.8em;
  }
}
header .credentials {
  margin-top: 10px;
}
header .credentials .credential-title {
  font-family: inherit;
  font-weight: inherit;
  text-transform: inherit;
  line-height: inherit;
  margin-top: inherit;
  margin-bottom: inherit;
  display: block;
  font-size: 1.5em;
  font-weight: 700;
}
header .credentials .credential-title .credential-subtitle {
  font-size: 0.8em;
  padding-bottom: 10px;
}
header .credentials .credential-line {
  font-size: 1.2em;
  display: block;
}
.wide-only {
  display: none;
}
@media (min-width: 768px) {
  .wide-only {
    display: block;
  }
}
.small-only {
  display: block;
}
@media (min-width: 768px) {
  .small-only {
    display: none;
  }
}
.clinic-address {
  background: url("../img/place_pin.png") no-repeat left top;
  background-size: 20px 30px;
  padding-left: 28px;
}
.locations-row {
  margin-top: 10px;
}
.location-col {
  padding-left: 28px;
  margin-bottom: 21px;
}
address {
  margin-bottom: 6px;
}
ul.stylelist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li.stylelist {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 0px solid #ccc;
  line-height: 1.2;
  padding-bottom: 8px;
}
li.stylelist {
  text-decoration: none;
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
}
li.stylelist a {
  color: #18BC9C;
}
li.stylelist a:hover {
  background: none;
}
div.title {
  line-height: 1;
}
div.subtitle {
  font-size: 0.8em;
}
div.text-blob {
  font-size: 1.2em;
}
div.text-blob a {
  color: #18BC9C;
  text-decoration: underline;
}
/*@media (min-width: 1200px) { 
	img.profile-img {
		max-width: 100%;
	}
}
*/
