header {
	.credentials {
		margin-top: 10px;
		.credential-title {
			display: block;
			font-size: 1.5em;
			font-weight: 500;
		}
		.credential-line {
			font-size: 1.2em;
			display: block;
		}
	}
}